@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-main-bg: var(--main-bg);
  --color-gray: var(--gray);
  --color-gray-dark: var(--gray-dark);
  --color-gray-light: var(--gray-light);
  --color-text: var(--text);
  --color-success: #1a632c;
  --color-success-light: #32c759;
  --color-error: #802e30;
  --color-error-light: #ff5c5e;
  --color-warning: #f5e07a;
  --color-warning-light: #f7f3de;
  --font-body: "Open Sans", sans-serif;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-title: 28px;
  --text-semibold-weight: 600;
  --text-bold-weight: 700;
}

:root {
  --primary: #ec2c95;
  --primary-light: #faf3f9;
  --secondary: #bc2686;
  --dark: #151515;
  --light: #fffdf0;
  --main-bg: #fffdf0;
  --gray: #717170;
  --gray-dark: #343434;
  --gray-light: #e6e6e3;
  --text: #151515;
}

[data-theme="dark"] {
  --primary: #ec2c95;
  --primary-light: #faf3f9;
  --secondary: #bc2686;
  --dark: #151515;
  --light: #fffdf0;
  --main-bg: #151515;
  --gray: #717170;
  --gray-dark: #343434;
  --gray-light: #e6e6e3;
  --text: #fffdf0;
}
